body,html{
    margin: 0;
    padding: 0;
    background-color: #0d0c0c;
    overflow: hidden;
}

#container1{
    width: 100%;
    height: 30vh;
    margin-top:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

#container2{
    width: 100%;
    height: 30vh;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#container3{
    width: 100%;
    height: 30vh;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(183, 93, 93);
}

#ball1{
    display: flex;
    position: absolute;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: #d2d439;
    border-radius: 50%;
    margin: auto;
    transition: transform 5s linear;
    box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.8);
}

#ball2{
    display: flex;
    position: absolute;
    left: 0;
    width: 30vh;
    height: 30vh;
    width: 100px;
    height: 100px;
    background-color: #bf6f6f;
    border-radius: 50%;
    margin: auto;
    transition: transform 5s linear;
    box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.8);
}

#ball3{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 30vh;
    height: 30vh;
    width: 100px;
    height: 100px;
    background-color: #53b891;
    border-radius: 50%;
    margin: auto;
    transition: transform 5s linear;
    box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.8);
}

img{
    display: flex;
    position: absolute;
    right: 0;
    width: 30vh;
    height: 30vh;
}
